{% extends "base.html" %}
{% load static %}
{% block page_title %}description{% endblock  %}
{% block css_file  %}<link rel='stylesheet' href="{% static 'userprofile/Description.css' %}">{% endblock  %}

{% block content %}
{% include "includes/header.html" %}
<div class="container">
    <h2>{{read.title}}</h2>
    <img src="{{read.image.url}}" alt="{{read.title}}">
    <div class="description-content">
        <h2>{{read.description}}</h2>
    </div>
    <div class="date-time">
        <h2>Date: {{read.date}}</h2>
        <h2>Time: {{read.time}}</h2>
    </div>
    <div class="posted-by">
        <h2>Posted by: {{read.posted_by}}</h2>
    </div>
</div>








{% endblock  %}